# Node.js dependencies
node_modules/

# Build directories
dist/
build/

# Log files
*.log

# Temporary files
*.tmp
*.swp
*.swo

# Shopify CLI settings
.shopify-cli/

# Yarn or npm lock files (optional)
yarn.lock
package-lock.json

# Cache files
.cache/

# MacOS specific files
*.DS_Store
