:root {
  --color-primary: #000;
  --color-secondary: #fff;
  --color-accent: #151515;
  --color-link: #000;
  --color-hover: #222;

  --color-1: #000;
  --color-2: #fff;
  --color-3: #222;
  --color-4: #f1efef;
  --color-5: #dcdddd;
  --color-6: #878787;
  --color-7: #bbb;

  /* Footer colors */
  --color-footer: #f7fafa;
  --color-footer-link: #878787;
  --color-footer-link-hover: #293341;
  --color-footer-heading: #222;

  --color-product-title: #222;
  --color-product-price: #696969;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }
}

@layer utilities {
  .h-10\.5 {
    height: 42px;
  }
}

button[aria-expanded="true"] svg {
  transform: scaleY(-1);
}

.lux-es-btn {
  @apply /* Normal */
  bg-white
  text-[13px]
  tracking-[.21rem]
  font-medium
  text-black
  py-1
  border
  border-transparent
  text-center
  w-[50%]
  lg:min-w-[140px]
  lg:max-w-[180px]
  /* Hover */
  hover:border
  hover:border-black;
}

.lux-es-btn__active {
  @apply bg-black
  border-black
  text-white
  font-bold;
}

._dropdown {
  @apply py-2 space-y-2;
}

._dropdown a {
  @apply flex
  items-center
  w-full
  p-2
  text-gray-900
  transition
  duration-75
  rounded-lg
  pl-8
  hover:bg-gray-100
  text-primary;
}

.mega-menu {
  @apply w-full absolute left-0 bg-white border-t z-40 max-h-[789px] min-h-[512px] overflow-hidden capitalize
  /* For hiding and transitions */
  opacity-0 invisible transition-all duration-300 ease-in-out;
}

.header-menu nav ul li.is-action__hovered .mega-menu {
  @apply opacity-100 visible;
}

.mega-menu__container {
  @apply flex space-x-4 justify-between p-5 max-h-[512px] max-w-[1200px] mx-auto left-0 right-0;
}

.header-menu nav ul li {
  @apply h-full;
}

.header-menu nav ul li a {
  @apply flex items-center h-full;
}
.slick-next {
  @apply absolute z-50 end-0 flex right-4 items-center justify-center h-full px-4 cursor-pointer;
}
.slick-next span {
  @apply inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 px-4;
}
.slick-next svg {
  @apply w-4 h-4 text-white;
}

.slick-prev {
  @apply absolute z-50 start-0 left-4 flex items-center justify-center h-full px-4 cursor-pointer;
}

.slick-prev span {
  @apply inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 px-4;
}

.slick-prev svg {
  @apply w-4 h-4 text-white;
}

.slick-dotted .slick-dots li {
  @apply w-3 h-3 rounded-full bg-white/50 bottom-4;
}

.slick-dotted .slick-dots li.slick-active {
  @apply w-3 h-3 rounded-full bg-white;
}

/* Featured Tabs */
/* Ensure ul and li are inline and enable horizontal scrolling */
.featured-tabs ul {
  @apply flex justify-center items-center overflow-x-auto whitespace-nowrap p-0 m-0 list-none;
}

.featured-tabs ul li {
  flex: 0 0 auto; /* Prevents items from shrinking */
  margin-right: 10px; /* Optional: space between items */
}

/* Hide scrollbar for cleaner look */
.featured-tabs ul::-webkit-scrollbar {
  display: none;
}

/* Apply color to the SVG by setting the color on the button or span */
.featured-tabs .slick-prev {
  color: #ff5733; /* Desired color for the SVG arrow */
}

.featured-tabs .slick-prev:hover {
  color: #c70039; /* Optional: Color on hover */
}

.embla__dot {
  @apply bg-white/50;
}
.embla__dot--selected {
  @apply bg-white;
}

.shadow-cs {
  box-shadow: #0000002b 0 0 5px;
}

.currency-btn.active {
  @apply bg-four;
}

/* Product Card */
.product-card .group .main-img {
  transform: scale(1);
  opacity: 1;
  transition: opacity 0.5s, transform 2s ease-in-out;
}

.product-card .group:hover .main-img {
  transform: scale(1.1);
  opacity: 0;
  transition: opacity 0.5s, transform 2s ease-in-out;
}

.product-card .group .hover-img {
  transform: scale(1);
  opacity: 0;
  transition: opacity 0.5s, transform 2s ease-in-out;
}

.product-card .group:hover .hover-img {
  transform: scale(1.1);
  opacity: 1;
  transition: opacity 0.5s, transform 2s ease-in-out;
}

.product-card .atc-btn:hover .btn-icon {
  transform: translateY(0);
}

.product-card .atc-btn:hover .btn-text {
  transform: translateY(-100%);
}
/* Product Card End */

/* Product Badges */
.badge {
  position: absolute;
  top: calc(-2.5%);
  left: calc(69%);
  width: 100%;
}

.badge img {
  width: 34%;
}

.badge-1 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: -11%;
  left: -19%;
  background: #c63e4b;
  color: #fff;
  width: 45%;
  height: 25%;
  font-weight: 700;
  transform: rotate(-45deg);
}

.badge-1 .sub1 {
  font-size: 75%;
}

.badge-1 .sub {
  font-size: 34%;
  margin-left: 2px;
}

.abcc {
  width: 50%; /* Set your container width */
  height: 50%; /* Set your container height */
}

.abcc svg {
  width: 100%;
  height: auto;
}

.abcc text {
  transform: translate(40px, 202px);
  font-size: 150px;
  fill: #fff;
}

.is-empty .cart__warnings {
  display: block;
}

.is-empty .cart__contents,
.is-empty .cart__header {
  display: none;
}

.cart__warnings {
  display: none;
  text-align: center;
  padding: 3rem 0 1rem;
}

.cart-table thead th,
.cart-table tbody tr:nth-last-child() td {
  border-bottom: 0.1rem solid rgba(18, 18, 18, 0.08);
}
