@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }
}

@layer utilities {
  .h-10\.5 {
    height: 42px;
  }
}

button[aria-expanded="true"] svg {
  transform: scaleY(-1);
}

.lux-es-btn {
  @apply
  /* Normal */
  bg-white
  text-[13px]
  tracking-[.21rem]
  font-medium
  text-black
  py-1
  border
  border-transparent
  text-center
  w-[50%]
  lg:min-w-[140px]
  lg:max-w-[180px]
  /* Hover */
  hover:border
  hover:border-black;
}

.lux-es-btn__active {
  @apply bg-black
  border-black
  text-white
  font-bold
}

._dropdown {
  @apply py-2 space-y-2;
}

._dropdown a {
  @apply
  flex
  items-center
  w-full
  p-2
  text-gray-900
  transition
  duration-75
  rounded-lg
  pl-8
  hover:bg-gray-100
  text-primary;
}
