@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }
}

@layer utilities {
  .h-10\.5 {
    height: 42px;
  }
}

button[aria-expanded="true"] svg {
  transform: scaleY(-1);
}

.lux-es-btn.active {
  @apply bg-black
  text-[13px]
  tracking-[.21rem]
  border
  border-black
  font-bold
  text-white
  w-[50%]
  lg:min-w-[140px]
  lg:max-w-[180px]
  text-center
  py-1;
}

.lux-es-btn {
  @apply
  /* Normal */
  bg-white
  text-[13px]
  tracking-[.21rem]
  text-black
  py-1
  border
  border-transparent
  text-center
  w-[50%]
  lg:min-w-[140px]
  lg:max-w-[180px]
  /* Hover */
  hover:border
  hover:border-black;
}

._dropdown {
  @apply py-2 space-y-2;
}

._dropdown a {
  @apply
  flex
  items-center
  w-full
  p-2
  text-gray-900
  transition
  duration-75
  rounded-lg
  pl-8
  hover:bg-gray-100
  text-primary;
}

.top-bar {
  @apply
  text-center
  text-white
  bg-black
  p-2
  text-[12px]
  h-10
  flex
  items-center
  justify-center
  leading-5
}

.mega-menu {
  @apply
  w-screen
  absolute
  left-0
  bg-white
  border-t
  mt-[0.76rem]
  z-40
  max-h-[789px]
  max-h-[512px]
  overflow-hidden
}
