<main class="content-area mt-4 max-w-[1600px] mx-auto">
    {% section 'featured-collection' %}
    <div class="poducts flex flex-wrap justify-center">
        {%- for product in collection.products -%}
            {% render 'product-card', card_product: product %}
        {% endfor %}
    </div>
</main>