{% section 'slide-show' %}
<main class="content-area max-w-[1600px] mx-auto">
    {% section 'featured-collection' %}
    {% section 'featured-tabs' %}
    </main>
    {% comment %} {% section 'shop-by-category' %} {% endcomment %}
    <main class="content-area max-w-[1600px] mx-auto">
    {% section 'explore-more' %}
</main>