<main class="content-area max-w-[1600px] mx-auto">
    <script src="{{ 'embla-utils.js' | asset_url }}" defer></script>
    {% section 'slide-show' %}
    {% section 'featured-collection' %}
    {% section 'featured-tabs' %}
</main>