{% section 'slide-show' %}
<main class="content-area max-w-[1600px] mx-auto">
    {% section 'featured-collection' %}
    {% section 'featured-tabs' %}
</main>
{% section 'shop-by-category' %}
<main class="content-area max-w-[1600px] mx-auto">
    {% section 'explore-more' %}
    {% section 'customer-favorites' %}
    {% section 'promotions' %}
</main>
{% section 'reviews' %}
<main class="content-area max-w-[1600px] mx-auto">
</main>