<div class="customer-favorites max-w-[1200px] mt-12 mx-auto px-4">
  <h2 class="text-[15px] md:text-[30px] text-[#363636] text-center my-4 uppercase font-semibold"><span>CUSTOMER
      FAVORITES</span></h2>
  <!-- Main Container for the layout -->
  <div class="grid gap-4 md:grid-cols-2">
    <!-- Left Section (50% on large screens) -->
    <div class="flex flex-col gap-4">
      <!-- Full-width item (First Item) -->
      <a href="#">
        <div class="masonry-item relative flex flex-col justify-center items-center ">
          <img src="https://asimjofa.com/cdn/shop/files/Velvet-Large-SIze-min.jpg">
          <div class="absolute bottom-7 text-white uppercase text-[28px] leading-none font-medium">
            Velvets
          </div>
        </div>
      </a>

      <!-- Two items side by side  -->
      <div class="hidden md:flex gap-4 order-2 md:order-none">
        <div class="masonry-item w-1/2">
          <img src="https://asimjofa.com/cdn/shop/files/Saree-min.jpg" alt="">
        </div>
        <div class="masonry-item w-1/2">
          <img src="https://asimjofa.com/cdn/shop/files/Peshwas-min.jpg" alt="">
        </div>
      </div>

      <!-- Two items side by side -->
      <div class="flex md:hidden gap-4">
        <div class="masonry-item h-full w-1/2">
          <img src="https://asimjofa.com/cdn/shop/files/Shawl-min.jpg" alt="">
        </div>
        <div class="masonry-item h-full w-1/2">
          <img src="https://asimjofa.com/cdn/shop/files/West-min.jpg" alt="">
        </div>
      </div>
    </div>

    <!-- Right Section (50% on large screens) -->
    <div class="flex flex-col gap-4">

      <!-- Two items side by side  -->
      <div class="md:hidden flex gap-4 order-2 md:order-none">
        <div class="masonry-item w-1/2">
          <img src="https://asimjofa.com/cdn/shop/files/Saree-min.jpg" alt="">
        </div>
        <div class="masonry-item w-1/2">
          <img src="https://asimjofa.com/cdn/shop/files/Peshwas-min.jpg" alt="">
        </div>
      </div>

      <!-- Two items side by side -->
      <div class="md:flex hidden gap-4">
        <div class="masonry-item h-full w-1/2">
          <img src="https://asimjofa.com/cdn/shop/files/Shawl-min.jpg" alt="">
        </div>
        <div class="masonry-item h-full w-1/2">
          <img src="https://asimjofa.com/cdn/shop/files/West-min.jpg" alt="">
        </div>
      </div>

      <!-- Full-width item (Sixth Item) -->
      <div class="masonry-item order-1 md:order-none">
        <img src="https://asimjofa.com/cdn/shop/files/Shirts-Large-SIze-min.jpg" alt="">
      </div>
    </div>
  </div>
</div>