<!-- Main Container for the layout -->
<div class="grid gap-4 md:grid-cols-2">
  <!-- Left Section (50% on large screens) -->
  <div class="flex flex-col gap-4">
    <!-- Full-width item (First Item) -->
    <div class="masonry-item ">
      <img src="https://asimjofa.com/cdn/shop/files/Velvet-Large-SIze-min.jpg">
    </div>

    <!-- Two items side by side (Second and Third Items) -->
    <div class="flex gap-4">
      <div class="masonry-item h-full w-1/2">
        <img src="https://asimjofa.com/cdn/shop/files/Shawl-min.jpg" alt="">
      </div>
      <div class="masonry-item h-full w-1/2">
        <img src="https://asimjofa.com/cdn/shop/files/Shawl-min.jpg" alt="">
      </div>
    </div>
  </div>

  <!-- Right Section (50% on large screens) -->
  <div class="flex flex-col gap-4">
    <!-- Two items side by side (Fourth and Fifth Items) -->
    <div class="flex gap-4 order-2 md:order-none">
      <div class="masonry-item w-1/2">
        <img src="https://asimjofa.com/cdn/shop/files/Saree-min.jpg" alt="">
      </div>
      <div class="masonry-item w-1/2">
        <img src="https://asimjofa.com/cdn/shop/files/Peshwas-min.jpg" alt="">
      </div>
    </div>

    <!-- Full-width item (Sixth Item) -->
    <div class="masonry-item order-1 md:order-none">
      <img src="https://asimjofa.com/cdn/shop/files/Shirts-Large-SIze-min.jpg" alt="">
    </div>
  </div>
</div>
