<div class="featured-tabs">
<ul class="text-[18px] text-[#888] ">
    <li class="mr-8"><a href="#">Kids Pret</a></li>
    <li class="mr-8"><a href="#">Limited Edition</a></li>
    <li class="mr-8"><a href="#">Vasl</a></li>
    <li class="mr-8"><a href="#">Chandni Raatein</a></li>
    <li class="mr-8"><a href="#">Asim Jofa Kids</a></li>
    <li class="mr-8"><a href="#">Afsany - Luxury Pret</a></li>
    <li class="mr-8"><a href="#">Menswear</a></li>
    <li class="mr-8"><a href="#">chamkeeli</a></li>
    <li class="mr-8"><a href="#">Pyaar Diyan Gallan</a></li>
    <li class="mr-8"><a href="#">Dhanak Rang</a></li>
    <li class="mr-8"><a href="#">Jag Mag</a></li>
</ul>
</div>
<script> 
    $(document).ready(function () {
        $('.featured-tabs ul').slick({
            infinite: false,    // Prevents infinite scrolling
            slidesToShow: 1,    // Shows one at a time, but adjusts with variableWidth
            slidesToScroll: 1,
            variableWidth: true,    // Allows items to display inline with varying widths
            arrows: true,   // Hides arrow controls
            dots: false,    // Hides pagination dots
            initialSlide: 0,          // Ensures it starts at the very beginning
            swipeToSlide: true  // Allows swipe-to-scroll functionality
          });
    });
</script>