<section class="embla_tabs relative mx-auto">
  <div class="embla_tabs__viewport overflow-hidden mx-8">
    <div class="embla_tabs__container flex space-x-1">
      <div class="embla_tabs__slide flex-shrink-0">
        <button id="kids-pret-tab" data-tab-target="#kids-pret-tab-content"
          class="tab-link text-[18px] text-[#888] block p-2 text-center">Kids Pret</button>
      </div>
      <div class="embla_tabs__slide flex-shrink-0">
        <button id="limited-ed-tab" data-tab-target="#limited-ed-tab-content"
          class="tab-link text-[18px] text-[#888] block p-2 text-center">Limited Edition</button>
      </div>
      <div class="embla_tabs__slide flex-shrink-0">
        <button id="vasl-tab" data-tab-target="#vasl-tab-content"
          class="tab-link text-[18px] text-[#888] block p-2 text-center">Vasl</button>
      </div>
      <div class="embla_tabs__slide flex-shrink-0">
        <button id="chandni-tab" data-tab-target="#chandni-tab-content"
          class="tab-link text-[18px] text-[#888] block p-2 text-center">Chandni Raatein</button>
      </div>
      <div class="embla_tabs__slide flex-shrink-0">
        <button id="aj-kids-tab" data-tab-target="#aj-kids-tab-content"
          class="tab-link text-[18px] text-[#888] block p-2 text-center">Asim Jofa Kids</button>
      </div>
      <div class="embla_tabs__slide flex-shrink-0">
        <button id="afsany-lxy-tab" data-tab-target="#afsany-lxy-tab-content"
          class="tab-link text-[18px] text-[#888] block p-2 text-center">Afsany - Luxury Pret</button>
      </div>
      <div class="embla_tabs__slide flex-shrink-0">
        <button id="vmenswear-tab" data-tab-target="#vmenswear-tab-content"
          class="tab-link text-[18px] text-[#888] block p-2 text-center">Menswear</button>
      </div>
      <div class="embla_tabs__slide flex-shrink-0">
        <button id="chankeeli-tab" data-tab-target="#chankeeli-tab-content"
          class="tab-link text-[18px] text-[#888] block p-2 text-center">Chamkeeli</button>
      </div>
      <div class="embla_tabs__slide flex-shrink-0">
        <button id="pyaar-dg-tab" data-tab-target="#pyaar-dg-tab-content"
          class="tab-link text-[18px] text-[#888] block p-2 text-center">Pyaar Diyan Gallan</button>
      </div>
      <div class="embla_tabs__slide flex-shrink-0">
        <button id="dhanak-rg-tab" data-tab-target="#dhanak-rg-tab-content"
          class="tab-link text-[18px] text-[#888] block p-2 text-center">Dhanak Rang</button>
      </div>
      <div class="embla_tabs__slide flex-shrink-0">
        <button id="jag-mag-tab" data-tab-target="#jag-mag-tab-content"
          class="tab-link text-[18px] text-[#888] block p-2 text-center">Jag Mag</button>
      </div>
    </div>
  </div>

  <!-- Controls positioned absolutely to the left and right -->
  <button
    class="embla_tabs__button embla_tabs__button--prev absolute left-4 lg:left-0 top-1/2 transform -translate-y-1/2 text-[#888]">
    <svg width="16" height="16">
      <use href="#embla_tabs__button__svg--prev"></use>
    </svg>
  </button>

  <button
    class="embla_tabs__button embla_tabs__button--next absolute right-4 lg:right-0 top-1/2 transform -translate-y-1/2 text-[#888]">
    <svg width="16" height="16">
      <use href="#embla_tabs__button__svg--next"></use>
    </svg>
  </button>
</section>
<div class="tabsContent">
  <div class="hidden rounded-lg bg-gray-50 p-4 dark:bg-gray-800" id="kids-pret-tab-content" role="tabpanel"
    aria-labelledby="kids-pret-tab">
    Kids Pret Tab
  </div>
  <div class="hidden rounded-lg bg-gray-50 p-4 dark:bg-gray-800" id="limited-ed-tab-content" role="tabpanel"
    aria-labelledby="limited-ed-tab">
    limited edition Tab
  </div>
</div>
<script type="module">

  (function () {
    document.addEventListener('DOMContentLoaded', () => {
      const emblaNode = document.querySelector('.embla_tabs');
      const viewportNode = emblaNode.querySelector('.embla_tabs__viewport');
      const prevBtnNode = emblaNode.querySelector('.embla_tabs__button--prev');
      const nextBtnNode = emblaNode.querySelector('.embla_tabs__button--next');
      const snapDisplayNode = emblaNode.querySelector('.embla_tabs__selected-snap-display');

      const emblaApi = EmblaCarousel(viewportNode, { dragFree: true });
      const removePrevNextBtnsClickHandlers = EmblaUtils.addPrevNextBtnsClickHandlers(emblaApi, prevBtnNode, nextBtnNode);
    });
  })();
</script>