<section class="embla_tabs relative mx-auto">
  <div class="embla_tabs__viewport overflow-hidden mx-8">
    <div class="embla_tabs__container flex space-x-1">
      <div class="embla_tabs__slide flex-shrink-0">
        <a href="#" class="tab-link text-[18px] text-[#888] block p-2 text-center">Kids Pret</a>
      </div>
      <div class="embla_tabs__slide flex-shrink-0">
        <a href="#" class="tab-link text-[18px] text-[#888] block p-2 text-center">Limited Edition</a>
      </div>
      <div class="embla_tabs__slide flex-shrink-0">
        <a href="#" class="tab-link text-[18px] text-[#888] block p-2 text-center">Vasl</a>
      </div>
      <div class="embla_tabs__slide flex-shrink-0">
        <a href="#" class="tab-link text-[18px] text-[#888] block p-2 text-center">Chandni Raatein</a>
      </div>
      <div class="embla_tabs__slide flex-shrink-0">
        <a href="#" class="tab-link text-[18px] text-[#888] block p-2 text-center">Asim Jofa Kids</a>
      </div>
      <div class="embla_tabs__slide flex-shrink-0">
        <a href="#" class="tab-link text-[18px] text-[#888] block p-2 text-center">Afsany - Luxury Pret</a>
      </div>
      <div class="embla_tabs__slide flex-shrink-0">
        <a href="#" class="tab-link text-[18px] text-[#888] block p-2 text-center">Menswear</a>
      </div>
      <div class="embla_tabs__slide flex-shrink-0">
        <a href="#" class="tab-link text-[18px] text-[#888] block p-2 text-center">Chamkeeli</a>
      </div>
      <div class="embla_tabs__slide flex-shrink-0">
        <a href="#" class="tab-link text-[18px] text-[#888] block p-2 text-center">Pyaar Diyan Gallan</a>
      </div>
      <div class="embla_tabs__slide flex-shrink-0">
        <a href="#" class="tab-link text-[18px] text-[#888] block p-2 text-center">Dhanak Rang</a>
      </div>
      <div class="embla_tabs__slide flex-shrink-0">
        <a href="#" class="tab-link text-[18px] text-[#888] block p-2 text-center">Jag Mag</a>
      </div>
    </div>
  </div>

  <!-- Controls positioned absolutely to the left and right -->
  <button
    class="embla_tabs__button embla_tabs__button--prev absolute left-4 lg:left-0 top-1/2 transform -translate-y-1/2 text-[#888]">
    <svg width="16" height="16">
      <use href="#embla_tabs__button__svg--prev"></use>
    </svg>
  </button>

  <button
    class="embla_tabs__button embla_tabs__button--next absolute right-4 lg:right-0 top-1/2 transform -translate-y-1/2 text-[#888]">
    <svg width="16" height="16">
      <use href="#embla_tabs__button__svg--next"></use>
    </svg>
  </button>
</section>

<script type="module">

  document.addEventListener('DOMContentLoaded', () => {
    const OPTIONS = { dragFree: true };

    const emblaNode = document.querySelector('.embla_tabs');
    const viewportNode = emblaNode.querySelector('.embla_tabs__viewport');
    const prevBtnNode = emblaNode.querySelector('.embla_tabs__button--prev');
    const nextBtnNode = emblaNode.querySelector('.embla_tabs__button--next');
    const snapDisplayNode = emblaNode.querySelector('.embla_tabs__selected-snap-display');

    const emblaApi = EmblaCarousel(viewportNode, OPTIONS);
    const removePrevNextBtnsClickHandlers = EmblaUtils.addPrevNextBtnsClickHandlers(emblaApi, prevBtnNode, nextBtnNode);
  });
</script>