<ul class="links-slider space-x-4 text-[18px] text-[#888]">
    <li><a href="#">Kids Pret</a></li>
    <li><a href="#">Limited Edition</a></li>
    <li><a href="#">Vasl</a></li>
    <li><a href="#">Chandni Raatein</a></li>
    <li><a href="#">Asim Jofa Kids</a></li>
    <li><a href="#">Afsany - Luxury Pret</a></li>
    <li><a href="#">Menswear</a></li>
    <li><a href="#">chamkeeli</a></li>
    <li><a href="#">Pyaar Diyan Gallan</a></li>
    <li><a href="#">Dhanak Rang</a></li>
    <li><a href="#">Jag Mag</a></li>
</ul>
<script>
    $(document).ready(function () {
        $('.links-slider').slick({
            slidesToShow: 1,        // Set to 1 to focus on smooth scrolling rather than snapping
            slidesToScroll: 1,
            infinite: false,
            arrows: false,          // Remove arrows for continuous scroll
            dots: false,
            speed: 500,            // Adjust to control the speed of the scroll
            cssEase: 'linear',      // Linear easing for smooth, continuous motion
            variableWidth: true
        });
    });
</script>