<div class="customer-favorites mt-12 mx-auto px-4 mb-96">
    <h2 class="text-[15px] md:text-[30px] text-[#363636] text-center my-8 uppercase font-semibold">
        <span>Customer Reviews</span>
    </h2>
    <div class="review-box">
        <div class="embla_reviews relative px-8">
            <div class="embla_raviews__viewport overflow-hidden">
                <div class="embla__raviews_container flex touch-pan-y">
                    {% for i in (1..13) %}
                    <div class="embla_reviews__slide rating px-1 flex flex-col gap-5 grow-0 shrink-0 basis-full xsm:basis-1/2 md:basis-1/3 2md:basis-1/4 xl:basis-1/5 2xl:basis-1/6">
                        <div class="first relative bg-[#f1f1f1] text-[14px] p-5 rounded-lg flex flex-col">
                            <!-- Rating and Badge Section -->
                            <div class="flex items-center justify-between">
                                <!-- Star Rating -->
                                <div class="flex space-x-1 text-[rgb(231,113,27)]">
                                    <!-- Partially filled star -->
                                    {% for i in (1..4) %}
                                    <svg viewBox="0 0 1792 1792" width="17" height="17" fill="currentColor">
                                        <g width="17" height="17">
                                            <path
                                                d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
                                            </path>
                                        </g>
                                    </svg>
                                    {% endfor %}
                                    <svg viewBox="0 0 1792 1792" width="17" height="17" fill="currentColor">
                                        <g width="17" height="17">
                                            <path
                                                d="M1201 1004l306-297-422-62-189-382-189 382-422 62 306 297-73 421 378-199 377 199zm527-357q0 22-26 48l-363 354 86 500q1 7 1 20 0 50-41 50-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
                                            </path>
                                        </g>
                                    </svg>
                                    <div class="!ml-2 w-4 h-4 text-[rgb(42,168,215)]">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 585.86 585.7"
                                            class="sc-18qfaed-1 cDbJqU reputon-verified-icon">
                                            <g>
                                                <path
                                                    d="M292.91,0c35.61,0,89.68,76.34,89.68,76.34S474.9,60.5,500.05,85.53C525.23,110.87,509.42,203,509.42,203s76.44,54.17,76.44,89.65c0,35.8-76.44,89.65-76.44,89.65s15.81,92.49-9.37,117.52c-25.15,25.34-117.46,9.5-117.46,9.5s-54.07,76.34-89.68,76.34-89.67-76.34-89.67-76.34S111,525.2,85.78,499.86c-25.15-25-9.38-117.52-9.38-117.52S0,328.49,0,292.69C0,257.21,76.4,203,76.4,203S60.63,110.87,85.78,85.53c25.18-25,117.46-9.19,117.46-9.19S257.34,0,292.91,0Z"
                                                    style="fill: currentcolor; fill-rule: evenodd;"></path>
                                                <path
                                                    d="M289.15,296.22l91-91.34a17.36,17.36,0,0,1,24.55,0l24.54,24.66a17.48,17.48,0,0,1,0,24.65L307.88,375.81a7.18,7.18,0,0,1-1.13,1.33l-24.56,24.65a17.38,17.38,0,0,1-24.66,0L233,377.14a6.78,6.78,0,0,1-1.12-1.33l-63.52-63.7a17.29,17.29,0,0,1,0-24.49L192.89,263a17.37,17.37,0,0,1,24.56,0l48.1,48.16h0l.1.16,4.23,4.3,0-.16,49.17,48.81Z"
                                                    style="fill: #fff; fill-rule: evenodd;"></path>
                                            </g>
                                        </svg>
                                    </div>
                                </div>

                                <!-- Google Verified Badge -->
                                <div class="flex items-center space-x-1">

                                    <div class="w-4 h-4">
                                        <svg viewBox="0 0 512 512" width="100%">
                                            <g height="100%" width="100%" fill="none" fill-rule="evenodd"
                                                style="fill: none;">
                                                <path
                                                    d="M482.56 261.36c0-16.73-1.5-32.83-4.29-48.27H256v91.29h127.01c-5.47 29.5-22.1 54.49-47.09 71.23v59.21h76.27c44.63-41.09 70.37-101.59 70.37-173.46z"
                                                    fill="#4285f4"></path>
                                                <path
                                                    d="M256 492c63.72 0 117.14-21.13 156.19-57.18l-76.27-59.21c-21.13 14.16-48.17 22.53-79.92 22.53-61.47 0-113.49-41.51-132.05-97.3H45.1v61.15c38.83 77.13 118.64 130.01 210.9 130.01z"
                                                    fill="#34a853"></path>
                                                <path
                                                    d="M123.95 300.84c-4.72-14.16-7.4-29.29-7.4-44.84s2.68-30.68 7.4-44.84V150.01H45.1C29.12 181.87 20 217.92 20 256c0 38.08 9.12 74.13 25.1 105.99l78.85-61.15z"
                                                    fill="#fbbc05"></path>
                                                <path
                                                    d="M256 113.86c34.65 0 65.76 11.91 90.22 35.29l67.69-67.69C373.03 43.39 319.61 20 256 20c-92.25 0-172.07 52.89-210.9 130.01l78.85 61.15c18.56-55.78 70.59-97.3 132.05-97.3z"
                                                    fill="#ea4335"></path>
                                                <path d="M20 20h472v472H20V20z"></path>
                                            </g>
                                        </svg>
                                    </div>
                                    <!-- Google Icon, or use your Google logo SVG -->
                                </div>
                            </div>

                            <!-- Review Description -->
                            <div class="text-gray-700 mt-3 max-h-32 overflow-y-scroll">
                                <p>
                                    "This place is fantastic! The staff is friendly and the service is top-notch.
                                    Highly
                                    recommended
                                    for anyone looking for great quality!"
                                </p>
                            </div>
                        </div>
                        <div class="flex items-center gap-3  rounded-lg">
                            <img src="https://via.placeholder.com/80" alt="User Profile"
                                class="w-[50px] h-[50px] rounded-full">
                            <h3 class="text-[13px] font-medium">Username</h3>
                        </div>

                    </div>
                    {% endfor %}
                </div>
            </div>

            <button
                class="emb_raviewsla__button emb_raviewsla__button--prev absolute left-1 top-0 bottom-0 text-[#888]">
                <svg class="w-6 h-6" viewBox="0 0 532 532" fill="currentColor">
                    <path
                        d="M355.66 11.354c13.793-13.805 36.208-13.805 50.001 0 13.785 13.804 13.785 36.238 0 50.034L201.22 266l204.442 204.61c13.785 13.805 13.785 36.239 0 50.044-13.793 13.796-36.208 13.796-50.002 0a5994246.277 5994246.277 0 0 0-229.332-229.454 35.065 35.065 0 0 1-10.326-25.126c0-9.2 3.393-18.26 10.326-25.2C172.192 194.973 332.731 34.31 355.66 11.354Z">
                    </path>
                </svg>
            </button>

            <button
                class="emb_raviewsla__button emb_raviewsla__button--next absolute right-1 top-0 bottom-0 text-[#888]">
                <svg class="w-6 h-6" viewBox="0 0 532 532" fill="currentColor">
                    <path
                        d="M176.34 520.646c-13.793 13.805-36.208 13.805-50.001 0-13.785-13.804-13.785-36.238 0-50.034L330.78 266 126.34 61.391c-13.785-13.805-13.785-36.239 0-50.044 13.793-13.796 36.208-13.796 50.002 0 22.928 22.947 206.395 206.507 229.332 229.454a35.065 35.065 0 0 1 10.326 25.126c0 9.2-3.393 18.26-10.326 25.2-45.865 45.901-206.404 206.564-229.332 229.52Z">
                    </path>
                </svg>
            </button>
        </div>
    </div>
</div>
<style>
    .rating .first:after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        z-index: -1;
        transform: skewY(-45deg) translateY(-11px);
        top: 100%;
        left: 50px;
        background: #f1f1f1;
    }
</style>
<script>
    (function () {
        document.addEventListener('DOMContentLoaded', () => {
            // Tabs Content Slider
            const emblaNode = document.querySelector('.embla_reviews');
            const viewportNode = emblaNode.querySelector('.embla_raviews__viewport');

            const emblaApi = EmblaCarousel(
                viewportNode,
                {
                    slidesToScroll: 1,
                    loop: true,
                    align: 'start',
                },
                [EmblaCarouselAutoplay({ playOnInit: true, delay: 3000, stopOnFocusIn: false })]
            );
        });
    })();
</script>