<main class="content-area max-w-[1600px] mx-auto px-6">
  <div class="shop-by-category mt-12 relative">
    <h2 class="text-[15px] md:text-[30px] text-[#363636] text-center my-4 uppercase font-semibold">
      <span>Shop By Category</span>
    </h2>
    <div class="embla_categories relative w-full">
      <div class="embla_categories__viewport overflow-hidden">
        <div class="embla_categories__container flex gap-1 pl-[0.23rem]">
          {% for block in section.blocks %}
            {% if block.settings.collection != '' %}
              <a
                href="{{ block.settings.collection.url }}"
                class="embla_categories__slide flex flex-col justify-center gap-2 items-center grow-0 shrink-0 basis-1/2 lg:basis-1/4"
              >
                <div class="relative w-full overflow-hidden group select-none aspect-[0.79]">
                  {% render 'card-image',
                    class: 'h-full absolute top-0 object-cover object-center',
                    src: block.settings.custom_image,
                    fallback_src: block.settings.collection.featured_image,
                    alt: block.settings.collection.title,
                    breakpoints: 's:2,m:2,l:4'
                  %}
                </div>
                <div class="cat-title font-semibold text-[#222] text-[10px] md:text-[22px] tracking-[3px] uppercase">
                  {{ block.settings.collection.title }}
                </div>
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</main>
<script>
  (function () {
    const OPTIONS = {
      slidesToScroll: 1,
      loop: true,
      align: 'start',
      breakpoints: {
        // Applies for large screens
        '(min-width: 1024px)': {
          slidesToScroll: 4,
        },
      },
    };
    const emblaNode = document.querySelector('.embla_categories');
    const viewportNode = emblaNode.querySelector('.embla_categories__viewport');

    const emblaApi = EmblaCarousel(viewportNode, OPTIONS);
  })();
</script>

{% schema %}
{
  "name": "Shop by category",
  "settings": [],
  "blocks": [
    {
      "type": "collection",
      "name": "Select Category",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Select Collection"
        },
        {
          "type": "image_picker",
          "id": "custom_image",
          "label": "Custom Image (Optional)"
        }
      ]
    }
  ],
  "presets": [
    {"name": "Shop By Category"}
  ]
}
{% endschema %}
