<div class="mx-auto">
  <div class="overflow-hidden">
    <div class="flex -ml-4">
      <!-- Slide 1 -->
      <div class="flex-none w-full pl-4">
        <div class="w-full bg-gray-200" style="aspect-ratio: 16 / 9;">
          <!-- Placeholder with reserved space -->
          <img
            srcset="{{ 'Chamkeeli-Mobile-min.jpg' | asset_url }} 767w, {{ 'Chamkeeli-Web-min.jpg' | asset_url }} 1200w"
            sizes="100vw"
            class="w-full object-cover select-none h-full"
            alt="Item 1"
            loading="lazy"
          >
        </div>
      </div>
      <!-- Slide 2 -->
      <div class="flex-none w-full pl-4">
        <div class="w-full bg-gray-200" style="aspect-ratio: 16 / 9;">
          <!-- Placeholder with reserved space -->
          <img
            src="{{ 'Web-Banner-3.jpg' | asset_url }}"
            sizes="(min-width: 768px) 768px,100vw"
            class="w-full object-cover select-none h-full"
            alt="Item 2"
            loading="lazy"
          >
        </div>
      </div>
      <!-- Slide 3 -->
      <div class="flex-none w-full pl-4">
        <div class="w-full bg-gray-200 aspect-[2.3]">
          <!-- Placeholder with reserved space -->
          <img
            src="{{ 'Basic-Print-Web-min.jpg' | asset_url }}"
            sizes="(min-width: 768px) 768px,100vw"
            class="w-full object-cover select-none h-full"
            alt="Item 3"
            loading="lazy"
          >
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  {% comment %} const OPTIONS = { loop: true, duration: 30 };

  const emblaNode = document.querySelector('.embla');
  const viewportNode = emblaNode.querySelector('.embla__viewport');
  const prevBtn = emblaNode.querySelector('.embla__button--prev');
  const nextBtn = emblaNode.querySelector('.embla__button--next');
  const dotsNode = document.querySelector('.embla__dots');

  const emblaApi = EmblaCarousel(viewportNode, OPTIONS, [Fade()]);

  const removePrevNextBtnsClickHandlers = addPrevNextBtnsClickHandlers(emblaApi, prevBtn, nextBtn);
  const removeDotBtnsAndClickHandlers = addDotBtnsAndClickHandlers(emblaApi, dotsNode);

  emblaApi.on('destroy', removePrevNextBtnsClickHandlers).on('destroy', removeDotBtnsAndClickHandlers); {% endcomment %}
</script>
