<div class="top-bar">
  <p>
    Limited Edition is live.
    <a href="https://asimjofa.com/collections/limited-edition-luxury-lawn" title="Limited Edition"
      >&nbsp;<strong>Shop&nbsp;</strong></a
    >
    your favourites now!
  </p>
</div>
<header class="px-4 w-full sticky top-0 z-10 bg-white">
  <div class="_header max-w-[1600px] mx-auto">
    <!-- Luxury | Essentials buttons -->
    <div class="flex items-center justify-start w-full lg:hidden py-2">
      <div class="flex justify-center w-full">
        <a href="#" class="lux-es-btn active">LUXURY</a>
        <a href="#" class="lux-es-btn">ESSENTIALS</a>
      </div>
    </div>
    <div class="flex h-[70px] items-center border-b">
      <!-- Menu Button on small screens -->
      <div class="flex-1 lg:hidden">
        <button
          data-drawer-target="drawer-navigation"
          data-drawer-show="drawer-navigation"
          aria-controls="drawer-navigation"
          type="button"
          class="inline-flex items-center h-10 justify-center text-sm outline-none text-gray-500 rounded-lg lg:hidden focus:outline-none"
          aria-controls="navbar-default"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="w-6 h-6"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path clip-rule="evenodd" fill-rule="evenodd"
              d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
            </path>
          </svg>
        </button>
      </div>
      <!-- Luxury | Essentials buttons | Large screens -->
      <div class="items-center justify-start flex-1 hidden lg:flex">
        <div class="flex justify-center">
          <a href="#" class="lux-es-btn active">LUXURY</a>
          <a href="#" class="lux-es-btn">ESSENTIALS</a>
        </div>
      </div>
      <!-- Logo -->
      <div class="flex items-center justify-center w-1/2">
        <img class="pb-[7px] pt-[5px]" src="{{ 'Asim_Jofa_logo.png' | asset_url }}" width="120" height="auto">
      </div>
      <!-- Right side icons -->
      <div class="flex justify-end items-center flex-1">
        <a href="#" class="ps-2">
          <svg width="20" height="20">
            <use href="#search"></use>
          </svg>
        </a>
        <a href="#" class="ps-2">
          <svg width="20" height="20">
            <use href="#user"></use>
          </svg>
        </a>
        <a href="#" class="ps-2">
          <svg width="20" height="20">
            <use href="#cart"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="h-10 header-menu hidden lg:flex justify-center items-center">
      <!-- Menu  | Large screen -->
      <nav class="h-10 w-full">
        <ul class="h-10 uppercase flex items-center justify-center text-[11px]">
          <li>
            <a class="px-3 py-1" href="#">New In</a>
            <div class="mega-menu capitalize">
              <div class="flex space-x-4 justify-between p-5 max-h-[512px]">
                <div class="flex-1">
                  <div class="header border-b text-[12px] font-medium uppercase pb-[13px]">Collections</div>
                  <ul class="flex-1 flex flex-col text-[#363636]">
                    <li class="py-2 text-[14px]"><a href="#">Limited Edition</a></li>
                    <li class="py-2 text-[14px]"><a href="#">Chandni Raatein</a></li>
                    <li class="py-2 text-[14px]"><a href="#">Chamkeeli</a></li>
                    <li class="py-2 text-[14px]"><a href="#">Asim Jofa kids</a></li>
                    <li class="py-2 text-[14px]"><a href="#">Afsanay - Luxury Pret</a></li>
                    <li class="py-2 text-[14px]"><a href="#">Paar Diyan Gallan</a></li>
                    <li class="py-2 text-[14px]"><a href="#">Uraan</a></li>
                    <li class="py-2 text-[14px]"><a href="#">Menswear</a></li>
                  </ul>
                </div>
                <div class="flex-1 overflow-hidden">
                  <img src="{{ 'new_in_1.jpg' | asset_url }}" alt="New In Collection" class="h-full w-full">
                </div>
                <div class="flex-1">
                  <img src="{{ 'new_in_2.jpg' | asset_url }}" alt="New In Collection" class="h-full w-full">
                </div>
                <div class="flex-1">
                  <img src="{{ 'new_in_3.jpg' | asset_url }}" alt="New In Collection" class="h-full w-full">
                </div>
              </div>
            </div>
          </li>
          <li><a class="px-3 py-1" href="#">unstiched luxury</a></li>
          <li><a class="px-3 py-1" href="#">luxury pret</a></li>
          <li><a class="px-3 py-1" href="#">limited editions</a></li>
          <li><a class="px-3 py-1" href="#">signature styles</a></li>
          <li><a class="px-3 py-1" href="#">menswear</a></li>
          <li><a class="px-3 py-1" href="#">kids</a></li>
          <li><a class="px-3 py-1" href="#">jewelry</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
