<div id="drawer-navigation"
  class="fixed top-0 left-0 z-40 w-64 h-screen overflow-y-auto transition-transform -translate-x-full bg-white"
  tabindex="-1" aria-labelledby="drawer-navigation-label">
  <label for="default-search" class="mb-2 text-sm font-medium text-primary sr-only">Search</label>
  <div class="relative">
    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
      <svg class="w-4 h-4 text-primary dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        fill="none" viewBox="0 0 20 20">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
      </svg>
    </div>
    <input type="search" id="default-search"
      class="block w-full p-2 ps-10 text-sm text-primary bg-gray-50 focus-visible:outline-none"
      placeholder="Search our store" required>
  </div>
  <div class="py-4 overflow-y-auto text-sm sidebar-menu">
    <ul class="font-medium">
      <li class="border-gray-200 border-b">
        <button type="button"
          class="flex items-center w-full p-2 text-base text-primary transition duration-75 rounded-lg hover:bg-gray-100"
          aria-controls="dropdown-example" data-collapse-toggle="dropdown-example" aria-expanded="false">
          <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Cheese</span>
          <svg class="transition-transform duration-200 ease-in-out rotate-0" width="8px" height="5px" viewBox="0 0 8 5"
            xmlns="http://www.w3.org/2000/svg">
            <path fill="#493323" d="M0,0c0,0,3.4,4.4,3.5,4.4C3.7,4.4,7.1,0,7.1,0H0z" />
          </svg>
        </button>

        <ul id="dropdown-example" class="hidden _dropdown">
          <li>
            <a href="#" aria-controls="dropdown-example1" data-collapse-toggle="dropdown-example1"
              aria-expanded="false">
              <span class="flex-1 text-left rtl:text-right">Vegan Parmesan-Gondino</span>
              <svg class="transition-transform duration-200 ease-in-out rotate-0" width="8px" height="5px"
                viewBox="0 0 8 5" xmlns="http://www.w3.org/2000/svg">
                <path fill="#493323" d="M0,0c0,0,3.4,4.4,3.5,4.4C3.7,4.4,7.1,0,7.1,0H0z" />
              </svg>
            </a>
            <ul id="dropdown-example1" class="hidden _dropdown pl-3">
              <li><a href="#" class="">Billing</a>
              </li>
              <li><a href="#" class="">Billing</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="#" class="flex items-center p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <span class="flex-1 ms-3 whitespace-nowrap">Sign In</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex items-center p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <span class="flex-1 ms-3 whitespace-nowrap">Sign Up</span>
        </a>
      </li>
    </ul>
  </div>
</div>